<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{fragments/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Marifa - UIN Syarif Hidayatullah Jakarta</title>
    <link href="https://marifa.uinjkt.ac.id/images/favicon.png" rel="shortcut icon" type="image/png"/>
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="header">
            <div class="logo">
                <img alt="logo" src="https://marifa.uinjkt.ac.id/images/logo_marifa.png">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="navigation">
        <div class="row">
            <ul class="topnav">
                <li></li>
                <li>
                    <a href="https://marifa.uinjkt.ac.id">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <!--<li>
                    <a href="https://marifa.uinjkt.ac.id/articles">
                        <i class="fa fa-file-text-o"></i> Bantuan
                    </a>
                </li>-->
                <li>
                    <a href="https://marifa.uinjkt.ac.id/faq">
                        <i class="fa fa-lightbulb-o"></i> FAQ
                    </a>
                </li>
                <li class="icon">
                    <a href="javascript:void(0);" onclick="myFunction()">MENU &#9776;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="searchfield bg-hed-ten">
    <div class="container">
        <div class="row text-center margin-bottom-10">
            <h2 class="white">Apa yang bisa kami bantu?</h2>
            <form action="https://marifa.uinjkt.ac.id/articles/search" method="GET">
                <input autocomplete="off" class="typeahead form-control" name="search"
                       placeholder="Ketik informasi yang Anda butuhkan" type="text"/>
            </form>
        </div>
    </div>
</div>


<div class="container featured-area-default">
    <div class="row">

        <div class="col-md-12 padding-10">
            <div class="row">
                <h2 class="text-center"><strong>Kategori Bantuan</strong></h2>
                <hr class="style-three">
                <div class="row">
                    <div class="col-md-4" th:each="o : ${listCategories}">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <strong th:text="${o.nama}">
                                        <!--<span class="cat-count">(25)</span>-->
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="height: 300px;">
                                <div class="fat-content-small padding-left-30">
                                    <ul>
                                        <li th:each="e : ${o.articleList}">
                                            <a th:href="'/article/' + ${e.id}">
                                                <th:block th:text="${e.title}"></th:block>
                                            </a>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                [ <a th:href="'/category/' + ${o.id}">
                                <strong>Lihat Semua Artikel</strong>
                            </a> ]
                            </div>
                        </div>
                    </div>
<!--                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <strong>AIS untuk Dosen
                                        &lt;!&ndash;<span class="cat-count">(11)</span>&ndash;&gt;
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="height: 300px;">
                                <div class="fat-content-small padding-left-30">
                                    <ul>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/menu-surat/54">Menu Surat</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/menu-layanan/53">Menu
                                            Layanan</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/menu-aktivitas/52">Menu
                                            Aktivitas</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/menu-ppm/51">Menu PPM</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/menu-penilaian/50">Menu
                                            Penilaian</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                [ <a href="https://marifa.uinjkt.ac.id/categories/ais-dosen/2">
                                <strong>Lihat Semua Artikel</strong>
                            </a> ]
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <strong>Email UINJKT
                                        &lt;!&ndash;<span class="cat-count">(6)</span>&ndash;&gt;
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="height: 300px;">
                                <div class="fat-content-small padding-left-30">
                                    <ul>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/panduan-penggunaan-radar-uin-jakarta/90">Panduan
                                                Penggunaan Radar (Rapat Daring) UIN Jakarta</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/panduan-google-meet-untuk-konferensi-pjj-rapat-online/86">Panduan
                                                Google Meet untuk Konferensi/PJJ/Rapat Online</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/panduan-google-classroom-untuk-mahasiswa/85">Panduan
                                                Google Classroom untuk Mahasiswa</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/panduan-google-classroom-untuk-dosen/84">Panduan
                                                Google Classroom untuk Dosen</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/menambah-akun-email-uin-jakarta-di-ios/83">Menambah
                                                Akun Email UIN Jakarta di iOS</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                [ <a href="https://marifa.uinjkt.ac.id/categories/email-uinjkt/5">
                                <strong>Lihat Semua Artikel</strong>
                            </a> ]
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <strong>SPMB Mandiri Online
                                        &lt;!&ndash;<span class="cat-count">(8)</span>&ndash;&gt;
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="height: 300px;">
                                <div class="fat-content-small padding-left-30">
                                    <ul>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/daftar-ulang-mahasiswa/37">Daftar
                                            Ulang Mahasiswa</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/pengumuman-kelulusan-spmb/36">Pengumuman
                                            Kelulusan SPMB</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/login-calon-peserta-spmb-profesi/35">Login
                                                Calon Peserta SPMB Profesi</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/login-calon-peserta-spmb-s3/34">Login
                                                Calon Peserta SPMB S3</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/login-calon-peserta-spmb-s2/33">Login
                                                Calon Peserta SPMB S2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                [ <a href="https://marifa.uinjkt.ac.id/categories/spmb-mandiri-online/12">
                                <strong>Lihat Semua Artikel</strong>
                            </a> ]
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <strong>e-LKP Dosen (BKD dan Remunerasi)
                                        &lt;!&ndash;<span class="cat-count">(10)</span>&ndash;&gt;
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="height: 300px;">
                                <div class="fat-content-small padding-left-30">
                                    <ul>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/laporan-aktivitas-semester-bkd/72">Laporan
                                                Aktivitas Semester BKD</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/laporan-pegawai-bkd/71">Laporan
                                            Pegawai BKD</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/verifikasi-aktivitas-semester/70">Verifikasi
                                                Aktivitas Semester</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/pos-ansensor/69">Pos
                                            Ansensor</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/ubah-password-e-lkp-dosen/45">Ubah
                                            Password e-LKP Dosen</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                [ <a href="https://marifa.uinjkt.ac.id/categories/e-lkp-dosen-bkd-dan-remunerasi/13">
                                <strong>Lihat Semua Artikel</strong>
                            </a> ]
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <strong>Presensi Online
                                        &lt;!&ndash;<span class="cat-count">(1)</span>&ndash;&gt;
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="height: 300px;">
                                <div class="fat-content-small padding-left-30">
                                    <ul>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/panduan-penggunaan-presensi-online-uin-jakarta/88">Panduan
                                                Penggunaan Presensi Online UIN Jakarta</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                [ <a href="https://marifa.uinjkt.ac.id/categories/presensi-online/15">
                                <strong>Lihat Semua Artikel</strong>
                            </a> ]
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">
                                    <strong>Zoom UINJKT
                                        &lt;!&ndash;<span class="cat-count">(6)</span>&ndash;&gt;
                                    </strong>
                                </h3>
                            </div>
                            <div class="panel-body" style="height: 300px;">
                                <div class="fat-content-small padding-left-30">
                                    <ul>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/aktivasi-lisensi-uinjkt-bagi-pengguna-zoom-baru/96">Aktivasi
                                                Lisensi UIN Jakarta bagi Pengguna Zoom Baru</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/aktivasi-lisensi-uinjkt-bagi-pengguna-zoom-lama/95">Aktivasi
                                                Lisensi UIN Jakarta bagi Pengguna Zoom Lama</a>
                                        </li>
                                        <li><a href="https://marifa.uinjkt.ac.id/articles/panduan-aplikasi-zoom-ios/94">Panduan
                                            Aplikasi Zoom di iOS (iPhone)</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/panduan-aplikasi-zoom-android/93">Panduan
                                                Aplikasi Zoom di Android</a>
                                        </li>
                                        <li>
                                            <a href="https://marifa.uinjkt.ac.id/articles/panduan-aplikasi-zoom-macos/92">Panduan
                                                Aplikasi Zoom di MacOS (Mac/iMac/MacBook)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer text-right">
                                [ <a href="https://marifa.uinjkt.ac.id/categories/zoom/16">
                                <strong>Lihat Semua Artikel</strong>
                            </a> ]
                            </div>
                        </div>
                    </div>-->
                </div>

            </div>
        </div>

        <!--                    <div class="col-md-4 padding-20">
<div class="row margin-bottom-30">
<div class="col-md-12 ">
    <div class="support-container">
        <h2 class="support-heading">Need more Support?</h2>
        If you cannot find an answer in the knowledgebase, you can
        <a href="#">contact us</a> for further help.
    </div>
</div>
</div>

<div class="row margin-top-20">
<div class="col-md-12">
    <div class="fb-heading-small">
        Popular Articles
    </div>
    <hr class="style-three">
    <div class="fat-content-small padding-left-10">
        <ul>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/panduan-akses-gratis-aplikasi-website-uinjkt-bagi-pengguna-indosat/89">
                        <i class="fa fa-file-text-o"></i> Panduan Akses Gratis ke Seluruh Aplikasi &amp; Website UIN Jakarta bagi Pengguna Indosat Ooredoo
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/panduan-akses-gratis-ke-ais-bagi-pengguna-telkomsel/87">
                        <i class="fa fa-file-text-o"></i> Panduan Akses Gratis ke AIS bagi Pengguna Telkomsel
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/menambah-akun-email-uin-jakarta-di-android/67">
                        <i class="fa fa-file-text-o"></i> Menambah Akun Email UIN Jakarta di Android
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/paduan-wisuda-online/60">
                        <i class="fa fa-file-text-o"></i> Paduan Wisuda Online
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/pjj-dosen-melalui-ais/49">
                        <i class="fa fa-file-text-o"></i> Perkuliahan Jarak Jauh (E-Learning) bagi Dosen melalui AIS
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/pjj-mahasiswa-melalui-ais/55">
                        <i class="fa fa-file-text-o"></i> Perkuliahan Jarak Jauh (E-Learning) bagi Mahasiswa melalui AIS
                    </a>
                </li>
                            </ul>
    </div>
</div>
</div>

<div class="row margin-top-20">
<div class="col-md-12">
    <div class="fb-heading-small">
        Latest Articles
    </div>
    <hr class="style-three">
    <div class="fat-content-small padding-left-10">
        <ul>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/aktivasi-lisensi-uinjkt-bagi-pengguna-zoom-baru/96">
                        <i class="fa fa-file-text-o"></i> Aktivasi Lisensi UIN Jakarta bagi Pengguna Zoom Baru
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/aktivasi-lisensi-uinjkt-bagi-pengguna-zoom-lama/95">
                        <i class="fa fa-file-text-o"></i> Aktivasi Lisensi UIN Jakarta bagi Pengguna Zoom Lama
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/panduan-aplikasi-zoom-ios/94">
                        <i class="fa fa-file-text-o"></i> Panduan Aplikasi Zoom di iOS (iPhone)
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/panduan-aplikasi-zoom-android/93">
                        <i class="fa fa-file-text-o"></i> Panduan Aplikasi Zoom di Android
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/panduan-aplikasi-zoom-macos/92">
                        <i class="fa fa-file-text-o"></i> Panduan Aplikasi Zoom di MacOS (Mac/iMac/MacBook)
                    </a>
                </li>
                                    <li>
                    <a href="https://marifa.uinjkt.ac.id/articles/panduan-aplikasi-zoom-windows/91">
                        <i class="fa fa-file-text-o"></i> Panduan Aplikasi Zoom di Windows (Komputer/Laptop)
                    </a>
                </li>
                            </ul>
    </div>
</div>
</div>

<div class="row margin-top-20">
<div class="col-md-12">
    <div class="fb-heading-small">
        Popular Tags
    </div>
    <hr class="style-three">
    <div class="fat-content-tags padding-left-10">
                            <a href="https://marifa.uinjkt.ac.id/tags/perkuliahan-jarak-jauh/36" class="btn btn-default btn-o btn-sm">Perkuliahan Jarak Jauh</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/e-learning/37" class="btn btn-default btn-o btn-sm">E-Learning</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/video-conference/40" class="btn btn-default btn-o btn-sm">Video Conference</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/meeting/42" class="btn btn-default btn-o btn-sm">meeting</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/zoom/41" class="btn btn-default btn-o btn-sm">zoom</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/email-uinjkt/35" class="btn btn-default btn-o btn-sm">Email UINJKT</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/ais/32" class="btn btn-default btn-o btn-sm">ais</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/ios/46" class="btn btn-default btn-o btn-sm">iOS</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/google-classroom/33" class="btn btn-default btn-o btn-sm">Google Classroom</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/android/43" class="btn btn-default btn-o btn-sm">Android</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/windows/44" class="btn btn-default btn-o btn-sm">Windows</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/macos/45" class="btn btn-default btn-o btn-sm">MacOS</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/radar/39" class="btn btn-default btn-o btn-sm">Radar</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/lkp/38" class="btn btn-default btn-o btn-sm">LKP</a>
                            <a href="https://marifa.uinjkt.ac.id/tags/e-lkp-pegawai/34" class="btn btn-default btn-o btn-sm">e-LKP Pegawai</a>
                    </div>
</div>
</div>
</div>                -->
    </div>
</div>

<div class="container-fluid padding-30">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="fb-heading">
                    <h3 class="text-center"><strong>Tidak menemukan artikel bantuan yang Anda cari?</strong></h3>
                </div>
                <div class="fb-content">
                    <h1 class="text-center" style="color: #800000;">Kontak kami melalui email<br/><a href=""
                                                                                                     target="_blank">servicedesk@uinjkt.ac.id</a>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid footer marg30">
    <div class="container">
        <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
            <div class="panel-transparent">

                <div class="footer-heading"><img alt="logo" src="https://marifa.uinjkt.ac.id/images/logo_marifa.png">
                </div>
                <div class="footer-body text-justify">
                    <p>Merupakah sebuah wadah untuk membuat, menampilkan, berbagi, dan mengelola dokumen pengetahuan
                        berbasis web (knowledge base) yang dirancang untuk memberikan kemudahan civitas akademika
                        Universitas Islam Negeri (UIN) Syarif Hidayatullah Jakarta dalam menemukan informasi yang dicari
                        termasuk dokumen teknis, arahan, kebijakan, dan prosedur.</p>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
            <div class="panel-transparent">
                <div class="footer-heading">Kategori Bantuan</div>
                <div class="footer-body">
                    <ul>
                        <li>
                            <a href="https://marifa.uinjkt.ac.id/categories/ais-mahasiswa/1">AIS untuk Mahasiswa</a>
                        </li>
                        <li>
                            <a href="https://marifa.uinjkt.ac.id/categories/ais-dosen/2">AIS untuk Dosen</a>
                        </li>
                        <li>
                            <a href="https://marifa.uinjkt.ac.id/categories/email-uinjkt/5">Email UINJKT</a>
                        </li>
                        <li>
                            <a href="https://marifa.uinjkt.ac.id/categories/spmb-mandiri-online/12">SPMB Mandiri
                                Online</a>
                        </li>
                        <li>
                            <a href="https://marifa.uinjkt.ac.id/categories/e-lkp-dosen-bkd-dan-remunerasi/13">e-LKP
                                Dosen (BKD dan Remunerasi)</a>
                        </li>
                        <li>
                            <a href="https://marifa.uinjkt.ac.id/categories/presensi-online/15">Presensi Online</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 margin-top-20">
            <div class="panel-transparent">
                <div class="footer-heading">Akses Cepat Aplikasi</div>
                <div class="footer-body">
                    <ul>
                        <li><a href="https://spmb.uinjkt.ac.id/" target="_blank">SPMB Mandiri Online</a></li>
                        <li><a href="https://ais.uinjkt.ac.id/ais/login.zul" target="_blank">AIS</a></li>
                        <li><a href="https://lkp.uinjkt.ac.id/" target="_blank">e-LKP, BKD, Remunerasi Dosen</a></li>
                        <li><a href="https://e-letter.uinjkt.ac.id/surat/login.zul" target="_blank">e-Letter</a></li>
                        <li><a href="http://journal.uinjkt.ac.id/" target="_blank">e-Journal</a></li>
                        <li><a href="http://repository.uinjkt.ac.id/" target="_blank">Institutional Repository</a></li>
                        <li><a href="http://onesearch.uinjkt.ac.id/" target="_blank">OneSearch UINJKT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- COPYRIGHT INFO -->
<div class="container-fluid footer-copyright marg30">
    <div class="container">
        <div class="pull-left">
            Copyright © 2020 Pustipanda UIN Syarif Hidayatullah Jakarta</a>
        </div>
        <div class="pull-right">
            <i class="fa fa-facebook"></i> &nbsp;
            <i class="fa fa-twitter"></i> &nbsp;
            <i class="fa fa-instagram"></i>
        </div>
    </div>
</div>
<!-- END COPYRIGHT INFO -->

<script th:src="@{js/jquery-2.2.4.min.js}"></script>
<script th:src="@{js/app.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src='@{js/jquery.okayNav.js}'></script>
<script th:src='@{js/bootstrap3-typeahead.min.js}'></script>

<script>
    var path = "https://marifa.uinjkt.ac.id/articles/autocomplete";
    $('input.typeahead').typeahead({
        source: function (query, process) {
            return $.get(path, {query: query}, function (data) {
                return process(data);
            });
        }
    });
</script>
</body>
</html>
